wagtailadditionalicons/templates
!wagtailadditionalicons/templates/extraicons/.keep
wagtailadditionalicons/icon_register.py
wagtailadditionalicons.egg-info
build/
dist/
__pycache__
*.pyc
*.ipynb
.ipynb_checkpoints/
